html {
  font-family: Georgia, serif;
}

.banner-txt {
  background-color: #495562;
  color: #fff;
}

.img-flex {
  width: 100%;
  display: block;
  max-height: 500px;
}

.btn-ghost {
  color: #fff;
  border-color: #97a49b;
  font-weight: bold;
}

.btn-ghost:hover {
  color: #495562;
  background-color: #fff;
  border-color: #fff;
}

@media only screen and (min-width: 38em) {

  .banner-btn {
    text-align: right;
  }

}
